header{
    background-color: blueviolet;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
}


.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.photos{
    width: 250px;
    height: 250px;
}